html, body {
  width: 100%;
}

body {
    background: linear-gradient(45deg, #FAD56B, #6BFA76, #5A70DE, #DE5AB6);
    background-size: 400% 400%;

    animation: gradient 25s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.div1{
  background-color: hsla(360, 100%, 100%, 0.75);
  border-radius: 10%;
  min-width: 30%;
  display: inline-block;
  min-height: 60%;
   box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
margin-top: 6%;

}



.contact form label{
	display: block;
	margin-left: 45%;
	margin-right: 45%;
}

::-webkit-input-placeholder {
	 font-family: 'Lato', sans-serif;
	 font-weight: bolder;
	 color: black;
}
 .contact form input[type=text], .contact form input[type=email], .contact form input[type=password],.contact form select{
font-family: 'Quicksand', sans-serif;
  color: black;
	width: 80%;
	padding: 1.5em;
	border:0px ;
  border-radius: 100px;
  box-shadow:
 0 2.8px 2.2px rgba(59, 38, 115, 0.034),
 0 6.7px 5.3px rgba(59, 38, 115, 0.048),
 0 12.5px 10px rgba(59, 38, 115, 0.06),
 0 22.3px 17.9px rgba(59, 38, 115, 0.072),
 0 41.8px 33.4px rgba(59, 38, 115, 0.086),
 0 60px 80px rgba(59, 38, 115, 0.12)
;
}
.contact form button{
  font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
  	width: 50%;
  	padding: 1.2em;
  	border:0px ;
    border-radius: 100px;
    background: hsla(360, 100%, 0%, 0.42);
      box-shadow:

   0 2.8px 2.2px rgba(59, 38, 115, 0.034),
   0 6.7px 5.3px rgba(59, 38, 115, 0.048),
   0 12.5px 10px rgba(59, 38, 115, 0.06),
   0 22.3px 17.9px rgba(59, 38, 115, 0.072),
   0 41.8px 33.4px rgba(59, 38, 115, 0.086),
   0 60px 80px rgba(59, 38, 115, 0.12)
  ;
}

}
